$verde: #1CFF61;
$verde2: #1E8E00;
$Naranja: #FF5D00;
$blanco: #F7F9F9;

$letra1: 'Century Gothic';

$tiempo: 0.3s ease all;

$tamano-texto: 25px;

@font-face {
    font-family: 'titulo';
    src: url("../fuentes/UrbanJungleDEMO.otf");
}

$titulo: 'tutulo';